<div data-sly-use.model="com.adobe.aem.mock.tuannt49.core.models.ActivitiesModel" class="cmp-activities"
    data-cmp-is="activities">
    <div class="" data-sly-list="${model.items}">
        <div class="module activity-news margin-bottom-xs">
            <h2 class="title margin-bottom-xs" id="casinos">${item.properties.siteTitle}</h2>
            <a href="${item.path}.html" title="${item.properties.siteTitle}"
                class="block-trombi-major rollover-cta inner-medium block-vam margin-bottom-very-small block-copyright">

                <sly data-sly-test="${itemList.odd}">
                    <div class="bloc-description block-vam-col">
                        <h2 class="title-name">${item.properties.siteName}</h2>

                        <p class="description">${item.properties.siteDescription}</p>
                        <p class="cta">discover<i class="icon-arrow"></i></p>
                    </div>
                    <div class="bloc-picture block-vam-col">
                        <img src="${item.properties.image}" alt="" />
                        <p class="hotel-name">©Hôtel Barrière Enghien-les-Bains</p>
                    </div>
                </sly>
                <sly data-sly-test="${itemList.even}">
                    <div class="bloc-picture reverse block-vam-col">
                        <img src="${item.properties.image}" alt="" />
                        <p class="hotel-name">©Hôtel Barrière Enghien-les-Bains</p>
                    </div>
                    <div class="bloc-description block-vam-col">
                        <h2 class="title-name">${item.properties.siteName}</h2>

                        <p class="description">${item.properties.siteDescription}</p>
                        <p class="cta">discover<i class="icon-arrow"></i></p>
                    </div>
                </sly>

            </a>
        </div>
    </div>
</div>
