# Configuration created by Apache Sling JCR Installer
org.apache.sling.commons.log.pattern="{0,date,dd.MM.yyyy\ HH:mm:ss.SSS}\ *{4}*\ [{2}]\ \\n\\n{3}\ {5}"
org.apache.sling.commons.log.names=["apps.tuannt49.components"]
org.apache.sling.commons.log.file="logs/tuannt49demo.log"
org.apache.sling.commons.log.level="info"
org.apache.sling.commons.log.additiv=B"true"
