<div data-sly-use.imageText="${'ImageText'}"
    data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html" data-sly-test="${imageText.active}"
    class="slider-wrapper">
    <div class="home-carousel owl-slider carousel owl-carousel owl-theme owl-loaded" data-dot="true">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="cloned">
                    <a data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
                        href="${imageText.linkURL}.html" class="slide-item">
                        <div class="block-vam block-reverse-tablet">
                            <div class="card-hotel-container block-vam-col">
                                <div class="block-wrapper">
                                    <div class="card-hotel-item">
                                        <h3 class="chi-hotel-city">${imageText.title}</h3>
                                        <p class="chi-hotel-region">${imageText.subtitle}</p>
                                    </div>
                                    <p class="description">${imageText.description}</p>
                                    <span class="btn btn-main-reverse">${imageText.label}</span>
                                </div>
                            </div>
                            <div class="bloc-picture reverse block-vam-col">
                                <img src="${imageText.fileReference}" alt="Hôtel Barrière Lille - Frontage - Exterior ">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!imageText.active}"></sly>
