<div class="module m39-1 m-popin-gallery">
    <div data-sly-use.imageText="${'com.adobe.aem.mock.tuannt49.core.WCMPojo.ImageText'}"
        data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
        data-sly-test="${imageText.active}" class="block-desire inner-medium block-vam m-popin-gallery">
        <div class="block-vam-col block-w1">
            <div class="bloc-description">
                <h2 class="title-name"><a href="${imageText.linkURL}.html">${imageText.title}</a></h2>
                <p class="description"><a href="${imageText.linkURL}.html">${imageText.description}</a></p>
                <ul>
                    <li class="list-item cta">
                        <a href="${imageText.linkURL}.html">
                            ${imageText.label}<i class="icon-arrow"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block-vam-col block-w2">
            <div class="bloc-picture">
                <a href="${imageText.linkURL}.html" title="Preferential rates as soon as you join">
                    <img src="${imageText.fileReference}" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!imageText.active}"></sly>
