.block-nav-envy .block-envy .navigation-icon .icon {
    display: block;
    text-align: center;
    font-size: 28px;
    margin: 0 auto 16px;
}

#icon__casino{
    font-size: 30px;
    text: brown;
}